*.egg-info
*.egg
.eggs
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
*.pyc
*.pyo
*.tmp*
.cache

tmp/

# Test output
tests/data/test.png*

# vim
.*swp

docs/_build

tests/data/big/*bam*
tests/data/big/peaks.bed

